################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Back/Integration/bin
/Back/Integration/obj
/.vs/Solution
/Back/Master/bin
/Back/Master/obj
/Back/UnitTesting/bin
/Back/UnitTesting/obj
/packages
/testresults
/Front/nano_v1/node_modules
