################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Back/Integration/bin
/.vs/Solution
/Back/Integration/obj
/Back/Master/bin
/Back/Master/obj
/Back/UnitTesting/bin
