/*! CSS Used from: http://localhost:5060/static/vendor/bootstrap/css/bootstrap.min.css */
*,::after,::before{box-sizing:border-box;}
header{display:block;}
body{margin:0;font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";font-size:1rem;font-weight:400;line-height:1.5;color:#212529;text-align:left;background-color:#fff;}
h4{margin-top:0;margin-bottom:.5rem;}
ul{margin-top:0;margin-bottom:1rem;}
ul ul{margin-bottom:0;}
a{color:#007bff;text-decoration:none;background-color:transparent;-webkit-text-decoration-skip:objects;}
a:hover{color:#0056b3;text-decoration:underline;}
a:not([href]):not([tabindex]){color:inherit;text-decoration:none;}
a:not([href]):not([tabindex]):focus,a:not([href]):not([tabindex]):hover{color:inherit;text-decoration:none;}
a:not([href]):not([tabindex]):focus{outline:0;}
img{vertical-align:middle;border-style:none;}
table{border-collapse:collapse;}
th{text-align:inherit;}
button{border-radius:0;}
button:focus{outline:1px dotted;outline:5px auto -webkit-focus-ring-color;}
button,input{margin:0;font-family:inherit;font-size:inherit;line-height:inherit;}
button,input{overflow:visible;}
button{text-transform:none;}
button{-webkit-appearance:button;}
button::-moz-focus-inner{padding:0;border-style:none;}
h4{margin-bottom:.5rem;font-family:inherit;font-weight:500;line-height:1.2;color:inherit;}
h4{font-size:1.5rem;}
.container{width:100%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto;}
@media (min-width:576px){
.container{max-width:540px;}
}
@media (min-width:768px){
.container{max-width:720px;}
}
@media (min-width:992px){
.container{max-width:960px;}
}
@media (min-width:1200px){
.container{max-width:1140px;}
}
.table{width:100%;max-width:100%;margin-bottom:1rem;background-color:transparent;}
.table td,.table th{padding:.75rem;vertical-align:top;border-top:1px solid #dee2e6;}
.table thead th{vertical-align:bottom;border-bottom:2px solid #dee2e6;}
.table-hover tbody tr:hover{background-color:rgba(0,0,0,.075);}
.form-control{display:block;width:100%;padding:.375rem .75rem;font-size:1rem;line-height:1.5;color:#495057;background-color:#fff;background-clip:padding-box;border:1px solid #ced4da;border-radius:.25rem;transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out;}
.form-control::-ms-expand{background-color:transparent;border:0;}
.form-control:focus{color:#495057;background-color:#fff;border-color:#80bdff;outline:0;box-shadow:0 0 0 .2rem rgba(0,123,255,.25);}
.form-control::-webkit-input-placeholder{color:#6c757d;opacity:1;}
.form-control::-moz-placeholder{color:#6c757d;opacity:1;}
.form-control:-ms-input-placeholder{color:#6c757d;opacity:1;}
.form-control::-ms-input-placeholder{color:#6c757d;opacity:1;}
.form-control::placeholder{color:#6c757d;opacity:1;}
.form-control:disabled{background-color:#e9ecef;opacity:1;}
.form-group{margin-bottom:1rem;}
.btn{display:inline-block;font-weight:400;text-align:center;white-space:nowrap;vertical-align:middle;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;border:1px solid transparent;padding:.375rem .75rem;font-size:1rem;line-height:1.5;border-radius:.25rem;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;}
.btn:focus,.btn:hover{text-decoration:none;}
.btn:focus{outline:0;box-shadow:0 0 0 .2rem rgba(0,123,255,.25);}
.btn:disabled{opacity:.65;}
.btn-success{color:#fff;background-color:#28a745;border-color:#28a745;}
.btn-success:hover{color:#fff;background-color:#218838;border-color:#1e7e34;}
.btn-success:focus{box-shadow:0 0 0 .2rem rgba(40,167,69,.5);}
.btn-success:disabled{color:#fff;background-color:#28a745;border-color:#28a745;}
.btn-light{color:#212529;background-color:#f8f9fa;border-color:#f8f9fa;}
.btn-light:hover{color:#212529;background-color:#e2e6ea;border-color:#dae0e5;}
.btn-light:focus{box-shadow:0 0 0 .2rem rgba(248,249,250,.5);}
.btn-light:disabled{color:#212529;background-color:#f8f9fa;border-color:#f8f9fa;}
.dropdown{position:relative;}
.dropdown-toggle::after{display:inline-block;width:0;height:0;margin-left:.255em;vertical-align:.255em;content:"";border-top:.3em solid;border-right:.3em solid transparent;border-bottom:0;border-left:.3em solid transparent;}
.dropdown-toggle:empty::after{margin-left:0;}
.dropdown-menu{position:absolute;top:100%;left:0;z-index:1000;display:none;float:left;min-width:10rem;padding:.5rem 0;margin:.125rem 0 0;font-size:1rem;color:#212529;text-align:left;list-style:none;background-color:#fff;background-clip:padding-box;border:1px solid rgba(0,0,0,.15);border-radius:.25rem;}
.dropdown-item{display:block;width:100%;padding:.25rem 1.5rem;clear:both;font-weight:400;color:#212529;text-align:inherit;white-space:nowrap;background-color:transparent;border:0;}
.dropdown-item:focus,.dropdown-item:hover{color:#16181b;text-decoration:none;background-color:#f8f9fa;}
.dropdown-item.active,.dropdown-item:active{color:#fff;text-decoration:none;background-color:#007bff;}
.dropdown-item:disabled{color:#6c757d;background-color:transparent;}
.dropdown-header{display:block;padding:.5rem 1.5rem;margin-bottom:0;font-size:.875rem;color:#6c757d;white-space:nowrap;}
.nav{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;padding-left:0;margin-bottom:0;list-style:none;}
.nav-link{display:block;padding:.5rem 1rem;}
.nav-link:focus,.nav-link:hover{text-decoration:none;}
.bg-success{background-color:#28a745!important;}
.bg-info{background-color:#17a2b8!important;}
.bg-danger{background-color:#dc3545!important;}
.d-flex{display:-webkit-box!important;display:-ms-flexbox!important;display:flex!important;}
.mr-3{margin-right:1rem!important;}
.mb-5{margin-bottom:3rem!important;}
@media print{
*,::after,::before{text-shadow:none!important;box-shadow:none!important;}
a:not(.btn){text-decoration:underline;}
thead{display:table-header-group;}
img,tr{page-break-inside:avoid;}
body{min-width:992px!important;}
.container{min-width:992px!important;}
.table{border-collapse:collapse!important;}
.table td,.table th{background-color:#fff!important;}
}
/*! CSS Used from: http://localhost:5060/static/css/tovvl.css */
.img-responsive{width:100%;height:auto;}
::-webkit-scrollbar{width:7px;}
::-webkit-scrollbar-track{background-color:#4d4d4d;}
::-webkit-scrollbar-thumb{background-color:#c2c2c2;}
a:hover{text-decoration:none;color:#3a52ff;}
ul{margin-top:0;margin-bottom:1rem;}
body{font-weight:400;font-family:'Titillium Web', sans-serif;background-color:#f5f5f5;line-height:1.5;-webkit-font-smoothing:subpixel-antialiased;}
.container{padding-left:20px!important;padding-right:20px!important;}
@media (min-width:1200px){
.container{max-width:1170px!important;}
}
header{position:relative;z-index:1000;}
.header{width:100%;padding:12px 0;}
.header ul{margin:0;padding:0;}
.header .container{display:flex;align-items:center;justify-content:space-between;height:100%;}
.header-left{display:flex;align-items:center;width:270px;}
.header-middle{flex-basis:100%;margin-left:50px;margin-right:50px;}
.header-middle .header-searchbox .form-group{position:relative;margin-bottom:0;}
.header-middle .header-searchbox .form-group .form-control{width:100%;height:36px;border-radius:100px;padding-right:40px;padding-left:15px;border-color:transparent;box-shadow:0 1px 3px rgba(0, 0, 0, 0.07);border:0!important;}
.header-middle .header-searchbox .form-group .form-control:focus{box-shadow:0 3px 10px rgba(0, 0, 0, 0.08);}
.header-middle .header-searchbox .form-group .form-control:focus ~ button{color:#3a52ff;}
.header-middle .header-searchbox .form-group > button{position:absolute;top:8px;right:15px;font-size:12px;background-color:transparent;border:0;padding:0;color:#c2c2c2;outline:none;}
.header-right{display:flex;align-items:center;}
.header-right .dropdown{margin-left:20px;display:flex;align-items:center;}
.header-right .dropdown:first-child{margin-left:0;}
.header-right .dropdown .dropdown-toggle{position:relative;color:#474648;display:block;}
.header-right .dropdown .dropdown-toggle:hover{color:#3a52ff;}
.header-right .dropdown .dropdown-toggle .feather-icon{line-height:0;font-weight:900;display:block;margin-top:2px;}
.header-right .dropdown .dropdown-toggle::after{display:none;}
.header-right .dropdown .notification-dot{display:block;position:absolute;top:-5px;right:-2px;width:6px;height:6px;border-radius:50%;background-color:#3a52ff;box-shadow:0 0 10px rgba(58, 82, 255, 0.2);}
.header .dropdown-menu{width:300px;margin-top:20px;top:100%;}
.header .dropdown-menu ul{list-style:none;}
.header .dropdown-menu ul li{border-bottom:1px solid rgba(0, 0, 0, 0.05);}
.header .dropdown-menu .dropdown-header{display:flex;align-items:center;justify-content:space-between;border-bottom:1px solid rgba(0, 0, 0, 0.05);padding:10px 20px;}
.header .dropdown-menu .dropdown-header .dropdown-title > span{margin-bottom:0;padding:5px 0;font-size:14px;font-weight:600;color:#2e2d2f;}
.header .dropdown-menu .media-list a:hover{color:#2e2d2f;}
.header .dropdown-menu .media-list .media-item{display:flex;padding:10px 0;transition:-webkit-transform 100ms;transition:transform 100ms;transition:transform 100ms, -webkit-transform 100ms;}
.header .dropdown-menu .media-list .media-item .media-circle{width:30px;height:30px;border-radius:100%;color:#fff;margin-right:15px;flex-shrink:0;display:flex;align-items:center;justify-content:center;overflow:hidden;}
.header .dropdown-menu .media-list .media-item-text{line-height:16px;}
.header .dropdown-menu .media-list .media-item-text .media-item-title{display:block;font-weight:600;}
.header .dropdown-menu .media-list .media-item-text .media-item-subtitle{color:#b1b0b0;font-size:12px;}
.header .dropdown-item{padding:5px 20px;}
.header .dropdown-item.active,.header .dropdown-item:active{background-color:transparent;}
.header .dropdown .notification-counter{width:18px;height:18px;background-color:#3a52ff;color:#fff;display:flex;align-items:center;justify-content:center;border-radius:100%;font-weight:800;font-size:10px;}
.header-message .dropdown-item:hover,.header-notification .dropdown-item:hover,.header-message .dropdown-item.active,.header-notification .dropdown-item.active{background-color:rgba(247, 247, 247, 0.8);}
.header-message .dropdown-item:hover a,.header-notification .dropdown-item:hover a,.header-message .dropdown-item.active a,.header-notification .dropdown-item.active a{color:#474648;}
.header-profile{flex-shrink:0;}
.header-profile .dropdown-toggle{border:2px solid transparent;transition:border-color 300ms;}
.header-profile .dropdown-toggle:hover{border-color:#3a52ff;}
.header-profile .dropdown-menu{width:220px;margin-top:13px;}
.header-profile-info{margin:20px;display:flex;align-items:center;justify-content:center;flex-direction:column;line-height:18px;}
.header-profile-info .user-img{width:100px;height:100px;overflow:hidden;border-radius:100%;margin-bottom:20px;box-shadow:0 0 20px rgba(0, 0, 0, 0.2);}
.header-profile-info .user-name{font-weight:700;font-size:16px;}
.header-profile-info .user-title{color:#b1b0b0;font-size:14px;}
.header-profile-menu .dropdown-item{display:flex;align-items:center;font-weight:600;border-top:1px solid rgba(0, 0, 0, 0.05);padding:10px 20px;}
.header-profile-menu .dropdown-item:hover{color:#3a52ff;}
.header-profile-menu .dropdown-item i{margin-right:5px;}
.header-profile-menu .dropdown-item .feather-icon{line-height:0;width:30px;}
@media (max-width:991px){
.header{padding:0;margin-top:30px;}
.header-middle{margin-left:0;}
}
@media (max-width:768px){
.header-middle{margin-right:20px;}
.header .dropdown{position:static;}
.header .dropdown-menu{width:90%;margin-top:50px;box-shadow:0 10px 20px rgba(0, 0, 0, 0.2);}
.header .dropdown-menu-right{right:auto!important;left:50%!important;-webkit-transform:translate(-50%, 0)!important;transform:translate(-50%, 0)!important;}
}
.header-logo.logo-type a{color:#3a52ff;font-size:22px;font-weight:800;}
.main-menu ul,.main-menu ul li{list-style:none;margin-bottom:0;padding:0;}
.main-menu{background-color:#fff;box-shadow:0 1px 3px rgba(0, 0, 0, 0.07);}
.main-menu ul.nav{width:100%;display:flex;}
.main-menu ul.nav > .nav-item{margin-left:0px;margin-right:0;}
.main-menu ul.nav > .nav-item:hover > .nav-link,.main-menu ul.nav > .nav-item.active > .nav-link{color:#666666;}
.main-menu ul.nav > .nav-item > .nav-link{display:flex;align-items:center;position:relative;color:#474648;font-weight:100;font-size:normal;padding:16px 0;line-height:normal;transition:all 300ms;margin-right:24px;}
.main-menu ul.nav .sub-item{position:relative;}
.main-menu ul.nav .sub-item:hover .sub-menu{visibility:visible;opacity:1;top:100%;}
.main-menu ul.nav .sub-menu{opacity:0;visibility:hidden;width:100%;position:absolute;top:115%;left:0;display:flex;background-color:#fff;border-top:1px solid rgba(0, 0, 0, 0.05);transition:opacity 150ms, top 300ms;width:auto;white-space:nowrap;border:1px solid rgba(0, 0, 0, 0.05);border-bottom-color:transparent;box-shadow:0 1px 3px rgba(0, 0, 0, 0.07);min-width:140px;}
.main-menu ul.nav .sub-menu > ul{width:100%;}
.main-menu ul.nav .sub-menu > ul > li{position:relative;border-bottom:1px solid rgba(0, 0, 0, 0.05);}
.main-menu ul.nav .sub-menu > ul > li:last-child{border:0;}
.main-menu ul.nav .sub-menu > ul > li a{position:relative;color:#4d4d4d;display:block;padding:8px 20px;transition:all 300ms;font-weight:500;}
.main-menu ul.nav .sub-menu > ul > li a:hover{color:#3a52ff;}
.main-menu.color-scheme-dark{background-image:linear-gradient(to left, #4d4d4d 30%, #0d0d0d 100%);box-shadow:0 5px 10px rgba(25, 25, 25, 0.2);}
.main-menu.color-scheme-dark ul.nav > .nav-item:hover > .nav-link,.main-menu.color-scheme-dark ul.nav > .nav-item.active > .nav-link{color:#fff;}
.main-menu.color-scheme-dark ul.nav > .nav-item > .nav-link{color:rgba(255, 255, 255, 0.75);}
.main-menu.color-scheme-dark ul.nav .sub-menu > ul > li a{color:rgba(77, 77, 77, 0.7);}
.main-menu.color-scheme-dark ul.nav .sub-menu > ul > li:hover a{color:#4d4d4d;}
.main-menu.color-scheme-dark ul.nav .sub-item > a::after{color:rgba(255, 255, 255, 0.75);}
@media (max-width:991px){
.main-menu{display:none;}
}
:root .main-menu .sub-item:nth-child(2) .sub-menu{min-width:250px;}
.card-heading{margin-bottom:20px;border-bottom:2px solid rgba(30, 30, 30, 0.15);padding-bottom:1px;}
.btn{color:#fff;padding:0.3rem 0.8rem;font-size:0.9rem;border-radius:3px;outline:none!important;font-weight:500;}
.btn:hover,.btn:focus{outline:none!important;box-shadow:none;}
.btn-success{background-color:#48ba16;border-color:#48ba16;}
.btn-success:hover{background-color:#56de1a;border-color:#56de1a;}
.btn-success.btn-shadow{box-shadow:0 3px 10px rgba(72, 186, 22, 0.4);}
.btn-success.btn-shadow:hover{box-shadow:none;}
.btn-light{color:#a8a8a8;background-color:#f7f7f7;border-color:#ebebeb;}
.btn-light:hover{color:#4d4d4d;background-color:#fff;}
.btn-light.btn-shadow{box-shadow:0 3px 10px rgba(247, 247, 247, 0.4);}
.btn-light.btn-shadow:hover{box-shadow:none;}
.btn.btn-xs{padding:0.12rem 0.5rem;font-size:0.7rem;}
button{font-size:inherit;font-family:inherit;cursor:pointer;}
.nav-link{padding:5px 0;color:#b1b0b0;}
.nav-link:hover{color:#2e2d2f;}
.nav-item{margin-right:10px;}
.nav-item:last-child{margin:0;}
.dropdown-menu{padding:0;box-shadow:0 0 20px rgba(0, 0, 0, 0.07);border-radius:6px;border-color:#ebebeb;}
.dropdown-item{padding:5px 15px;background-color:transparent;}
.dropdown-item:hover{background-color:transparent;}
.dropdown-item:hover a{color:#3a52ff;}
.dropdown-item:active{color:#474648;}
.loader-ring{position:relative;display:inline-block;width:45px;height:45px;margin:auto;}
.loader-ring div{box-sizing:border-box;display:block;position:absolute;width:40px;height:40px;border:3px solid #3a52ff;border-radius:50%;-webkit-animation:loader-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;animation:loader-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;border-color:#3a52ff transparent transparent transparent;}
.loader-ring div:nth-child(1){-webkit-animation-delay:-0.45s;animation-delay:-0.45s;}
.loader-ring div:nth-child(2){-webkit-animation-delay:-0.3s;animation-delay:-0.3s;}
.loader-ring div:nth-child(3){-webkit-animation-delay:-0.15s;animation-delay:-0.15s;}
.table{width:100%;max-width:100%;margin-bottom:0;}
.table tr{transition:all 300ms;}
.table th{padding:6px 20px;}
.table td{padding:12px 20px;border-top:none;color:#474648;}
.table thead{box-shadow:0 2px 3px rgba(0, 0, 0, 0.05);border-bottom:1px solid rgba(0, 0, 0, 0.03);}
.table thead tr th{color:#2e2d2f;font-weight:600;border:0;}
.table tbody tr{border-bottom:1px solid rgba(0, 0, 0, 0.05);}
.table tbody tr:last-child{border-color:transparent;}
.table tbody tr td{font-size:14px;transition:all 300ms;}
.table-hover tbody tr:hover{background-color:rgb(75, 75, 75);}
.table-hover tbody tr:hover td{color:white;}
.form-group{margin-bottom:20px;}
.form-control{padding:4px 12px;border-radius:6px;border-color:#ebebeb;color:#b1b0b0;line-height:20px;border-width:2px!important;transition:all 300ms;}
.form-control:focus{border-color:#3a52ff;box-shadow:none;}
.form-control:disabled{background-color:#ebebeb;}
.form-control::-webkit-input-placeholder{color:#b1b0b0;}
.form-control::-moz-placeholder{color:#b1b0b0;}
.form-control:-ms-input-placeholder{color:#b1b0b0;}
.bg-success{background-color:#48ba16!important;}
.bg-danger{background-color:#DB3847!important;}
.bg-info{background-color:#308af3!important;}
.avatar{border-radius:100%;}
.avatar > img{border-radius:100%;}
.avatar-sm{width:34px;height:34px;}
.mr-3{margin-right:3px!important;}
.mb-5{margin-bottom:5px!important;}
h4{color:#2e2d2f;margin-bottom:0.5rem;line-height:1.5;font-weight:400;}
h4{font-size:1.2em;}
ul{color:#474648;}
a{color:#474648;}
.a-i-center{align-items:center;}
.j-c-between{justify-content:space-between;}
@media (max-width:991px){
.hide-md{display:none!important;}
}
/*! CSS Used from: http://localhost:5060/static/vendor/font-awesome/css/font-awesome.min.css */
.fa,.fas{-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;display:inline-block;font-style:normal;font-variant:normal;text-rendering:auto;line-height:1;}
.fa-bell:before{content:"\f0f3";}
.fa-plus:before{content:"\f067";}
.fa-search:before{content:"\f002";}
.fa-times:before{content:"\f00d";}
.fa-user:before{content:"\f007";}
.fa,.fas{font-family:"Font Awesome 5 Free";}
.fa,.fas{font-weight:900;}
/*! CSS Used keyframes */
@keyframes loader-ring{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg);}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg);}}
@-webkit-keyframes loader-ring{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg);}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg);}}
/*! CSS Used fontfaces */
@font-face{font-family:'Titillium Web';font-style:normal;font-weight:300;font-display:swap;src:local('Titillium Web Light'), local('TitilliumWeb-Light'), url(https://fonts.gstatic.com/s/titilliumweb/v9/NaPDcZTIAOhVxoMyOr9n_E7ffGjEGIVzY4SY.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Titillium Web';font-style:normal;font-weight:300;font-display:swap;src:local('Titillium Web Light'), local('TitilliumWeb-Light'), url(https://fonts.gstatic.com/s/titilliumweb/v9/NaPDcZTIAOhVxoMyOr9n_E7ffGjEGItzYw.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:"Font Awesome 5 Free";font-style:normal;font-weight:400;src:url(http://localhost:5060/static/vendor/font-awesome/fonts/fa-regular-400.eot);src:url(http://localhost:5060/static/vendor/font-awesome/fonts/fa-regular-400.eot#iefix) format("embedded-opentype"),url(http://localhost:5060/static/vendor/font-awesome/fonts/fa-regular-400.woff2) format("woff2"),url(http://localhost:5060/static/vendor/font-awesome/fonts/fa-regular-400.woff) format("woff"),url(http://localhost:5060/static/vendor/font-awesome/fonts/fa-regular-400.ttf) format("truetype"),url(http://localhost:5060/static/vendor/font-awesome/fonts/fa-regular-400.svg#fontawesome) format("svg");}
@font-face{font-family:"Font Awesome 5 Free";font-style:normal;font-weight:900;src:url(http://localhost:5060/static/vendor/font-awesome/fonts/fa-solid-900.eot);src:url(http://localhost:5060/static/vendor/font-awesome/fonts/fa-solid-900.eot#iefix) format("embedded-opentype"),url(http://localhost:5060/static/vendor/font-awesome/fonts/fa-solid-900.woff2) format("woff2"),url(http://localhost:5060/static/vendor/font-awesome/fonts/fa-solid-900.woff) format("woff"),url(http://localhost:5060/static/vendor/font-awesome/fonts/fa-solid-900.ttf) format("truetype"),url(http://localhost:5060/static/vendor/font-awesome/fonts/fa-solid-900.svg#fontawesome) format("svg");}